.ui-modal {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 99;
}

.ui-modal .close {
	position: absolute;
	top : 10px;
	right : 10px;
	z-index: 999;
}

/* FB theme */

.fb.ui-modal.fb {
	top: 50%;
	left: 50%;
	background: rgba(0,0,0, 0.5);
	-moz-border-radius: 15px;
	border-radius: 15px;
	padding: 16px;
}

.fb.ui-modal .content {
	position: relative;
	background: #eee;
	padding: 8px;
	width: 100%;
	height: 100%;
}

.fb.ui-modal article {
	height: 100%;
}
